.env
.venv/
__pycache__/
*.py[cod]
*.egg-info/
build/
dist/
output/*
!output/.gitkeep
data/used_reddit_posts.json
assets/backgrounds/reddit/*
!assets/backgrounds/reddit/.gitkeep
.DS_Store

assets/music/*
!assets/music/.gitkeep
